.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: aliceblue;
}

@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}

